aside {
    width: 300px;
}

main {
    position: relative;
    width: 100%;
    padding-top: 10px;
}

li {
    font-size: 30px;
    font-weight: bold;
}

.btn {
    border: none;
}

#overlay {
    z-index: 10;
    background: color-mix(in srgb, var(--semilight) 50%, transparent);
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: none;
    top: 0;
}

/* MENU */
#menuToggleButton {
    font-size: 30px;
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 5;
}

#menuSection {
    position: absolute;
    display: none;
    width: 300px;
    height: 100vh;
    background: var(--accent);
    padding: 40px 0 0 10px;
    z-index: 2;
}

.active {
    display: block !important;
}

#mealsSection, #ingredientsSection {
    display: none;
}

/* MEALS SECTION */
#dateFilter {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#dateFilter > i {
    font-size: 30px;
}

#dateInput {
    padding: 5px;
    border-radius: 10px;
    border: solid 2px var(--primary);
}

/* DISHES SECTION */

/* INGREDIENTS SECTION */
#ingredientsContainer {
    width: 100%;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

#ingrList {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    gap: 15px;
}

/* INGREDIENT CARD */
#ingredientCard {
    width: 80%;
    height: fit-content;
    border: solid 2px var(--primary);
    border-radius: 10px;
    padding: 5px;
    background-color: var(--semilight);
}

#ingredientMacros > h4 > span {
    color: var(--accent);
    margin-right: 4px;
}

#ingredientName, #ingredientMacros {
    display: flex;
    align-items: center;
}

#ingredientName {
    justify-content: space-between;
    gap: 5px;
}

#ingredientName > h3 {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

#ingredientBtns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* ADD INGREDIENT MODAL */
#addIngrModal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--light);
    z-index: 11;
    padding: 10px;
    border: solid 2px var(--primary);
    border-radius: 10px;
    width: 300px;
}

#addIngrForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#addIngrForm input, #addIngrForm select {
    padding: 5px;
    border-radius: 10px;
    border: none;
}

#addIngrForm div {
    width: 100%;
    display: flex;
    gap: 20px;
}

#ingrNameInput {
    width: 220px;
}

#ingrCalsInput {
    width: 40px;
}

#ingrProtInput, #ingrCarbInput, #ingrFatsInput {
    width: 26px;
}

#addIngrModalBtns {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}